button {
  width: 150px;
  height: 50px;
  font-size: 20px;
}

.curtain {
  background-color: #000;
  opacity: .7;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

.modal {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  border-radius: 10px;
  height: 200px;
  width: 200px;
}

.modal h3 {
  margin: 20px auto;
  width: 80%;
  text-align: center;
}

.modal button {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
